{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<style>
		.product-container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
            flex-wrap: wrap;
		}
		.product-content {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			width: 50%;
		}

		.product-content h1 {
			font-size: 2rem;
			font-weight: bold;
			margin-bottom: 5rem;
		}

		.product-text {
			margin-bottom: 2rem;
		}

		.product-text h2 {
			margin-bottom: 1rem;
		}
		.product-text p {
			font-size: 1rem;
			font-weight: normal;
		}
		.download {
			margin-left: 22.5%;
		}
		.product-download {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40%;
			height: 5rem;
			background-color: #F2F2F2;
			border-radius: 5px;
			margin-top: 1rem;
		}
		.product-download:hover {
			background-color: #E0E0E0;
			cursor: pointer;
		}

		.imgCard {
			width: 30%;
            min-width: 20rem;
            height: 26rem;
            border-radius: 2.375rem;
            margin: 2rem;
			object-fit: cover;
		}

		.sideBarWidth {
			min-width: 240px;
			height: 100vh;
		}

        .righteous {
            font-family: 'Righteous', regular;
            font-weight: bold;
        }
	</style>

	<div class="d-flex col w-100">
		<div class="sideBarWidth">
			{% include 'home/components/sideBarHome.html.twig' %}
		</div>
		<div>
			<div class="product-container">
				<div class="product-content">
					<div class="d-flex justify-content-center w-100">
						<h1 class="text-darkBlue text-center righteous">{{ product.getProductName() }}</h1>
					</div>
					<div class="product-text">
						<h2 class="text-darkBlue righteous">Nom du produit :</h2>
						<p>{{ product.getProductName() }}</p>
					</div>
					<div class="product-text">
						<h2 class="text-darkBlue righteous">Description du produit :</h2>
						<p>{{ product.getDescription() }}</p>
					</div>
				</div>
				<div></div>
				<img src="{{ vich_uploader_asset(product, 'imageFile') }}" class="imgCard" alt="{{ product.getProductName() }}">
			</div>
			<h2 class="text-darkBlue righteous">Fiche de sécurité :</h2>
			<div class="w-100">
				{% if product.getfdsName() is not empty %}
					<div class="my-2 d-flex gap-3">
						<a href="{{ path('telecharger_pdf', {'url': product.getfdsName()}) }}" download="{{ product.getfdsName() }}">
							<button class="btn btn-darkBlue">
								<i class="bi bi-download"></i>
							</button>
						</a>
						<a href="{{ path('view_pdf', {'url': product.getfdsName()}) }}">
							<button class="btn btn-darkBlue">
								<i class="bi bi-eye"></i>
							</button>
						</a>
					</div>
					<embed src="{{ path('view_pdf', {'url': product.getfdsName()}) }}" type="application/pdf" width="100%" height="600px"/>
				{% else %}
					Aucun fichier disponible
					<i class="bi bi-file-exclamation-fill"></i>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
