<style>

#sidebar {
    background: transparent;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-link .icon-circle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 150px;
    width: 150px;
}

</style>


<div id="sidebar" class="d-flex flex-column justify-content-evenly flex-shrink-0 p-3 bg-white text-black position-relative collapsed">
    <div class="logo">

        <img src="{{ asset('images/logo.svg') }}" alt="logo" class="img-fluid">

    </div>
    <ul id="sidebarList" class="nav flex-column gap-3 mb-auto justify-content-center">
        <li class="nav-item">
            <a href="{{ path('homepage') }}" class="nav-link text-black" aria-current="page">
                <div class="rounded-circle bg-orange icon-circle">
                    <i class="bi bi-house-fill text-white"></i>
                </div>
                <span class="righteous">Accueil</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('category') }}" class="nav-link text-black" aria-current="page">
                <div class="rounded-circle bg-orange icon-circle">
                    <i class="bi bi-grid-fill text-white"></i>
                </div>
                <span class="righteous">Catégorie</span>
            </a>
        </li>
        <li>
            <a href="{{ path('files') }}" class="nav-link text-black">
                <div class="rounded-circle bg-orange icon-circle">
                    <i class="bi bi-bookmark-fill text-white"></i>
                </div>
                <span class="righteous">Mes fiches</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('download') }}" class="nav-link text-black" aria-current="page">
                <div class="rounded-circle bg-orange icon-circle">
                    <i class="bi bi-file-arrow-down-fill text-white"></i>
                </div>
                <span class="righteous">Télécharger</span>
            </a>
        </li>
    </ul>
    <hr>
    <ul id="sidebarList" class="nav flex-column gap-3 mb-auto justify-content-center">
        <li class="nav-item">
            <a href="{{ path('settings') }}" class="nav-link text-black" aria-current="page">
                <div class="rounded-circle bg-orange icon-circle">
                    <i class="bi bi-gear-fill text-white"></i>
                </div>
                <span class="righteous">Paramètres</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('help') }}" class="nav-link text-black" aria-current="page">
                <div class="rounded-circle bg-orange icon-circle">
                    <i class="bi bi-question-circle-fill text-white"></i>
                </div>
                <span class="righteous">Aide</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('homepage') }}" class="nav-link text-black" aria-current="page">
                <div class="rounded-circle bg-orange icon-circle">
                    <i class="bi bi-door-closed-fill text-white"></i>
                </div>
                <span class="righteous">Déconnexion</span>
            </a>
        </li>
    </ul>
    <hr>
</div>