{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.first_name) }}
        {{ form_row(registrationForm.last_name) }}
        {{ form_row(registrationForm.password, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.confirm_password) }}

        <button type="submit" class="btn">Inscription</button>
    {{ form_end(registrationForm) }}
{% endblock %}
